# Auto detect text files and perform LF normalization
* text=auto
E:/githubfile/FPS+GameFramework/Assets/AtmosphericHouse/Textures/Multiuse/Exterior_concrete/Exterior_concrete_BaseColor.png filter=lfs diff=lfs merge=lfs -text
E:/githubfile/FPS+GameFramework/Assets/TerrainDemoScene_URP/Terrain/Textures/Cliff_Mossy_E/Cliff_Mossy_E_BaseColor.tif filter=lfs diff=lfs merge=lfs -text
E:/githubfile/FPS+GameFramework/Assets/TerrainDemoScene_URP/Terrain/Textures/Cliff_Mossy_E/Cliff_Mossy_E_MaskMap.tif filter=lfs diff=lfs merge=lfs -text
E:/githubfile/FPS+GameFramework/Assets/TerrainDemoScene_URP/Terrain/Textures/Cliff_Mossy_E/Cliff_Mossy_E_Normal.tif filter=lfs diff=lfs merge=lfs -text
